table.yui 
{
	font-family:  'Roboto', Sans-Serif;
    border-collapse:collapse;	
    border: 1px solid #dce0e4;
    font-size:small;
    width: 800px;
   /* background: #0099cc;*/
}

table.yui td
{
   
    
    font-family:  'Roboto', Sans-Serif;
    font-size: 12px;
    text-align: justify;
    color: #333;
    text-decoration: none;
    vertical-align: top;
    padding: 10px 15px;
    border-bottom:  1px solid #dce0e4;
}

table.yui td a
{
    text-decoration: none;
    font-family:  'Roboto', Sans-Serif;
    font-size: 12px;
    text-align: justify;
    color: #093d91;
    text-decoration: none;
    vertical-align: top;
}
table.yui td a:hover
{
    /*color: #ffffff;
    background: #97CE9B;
    font-weight: bold;*/
	text-decoration: none;
}

table.yui .even {
	background-color: #fcfcfc;
}
table.yui .odd {
	background-color: #fcfcfc;
}
table.yui th
{
   font-size: 13px;
    font-weight: 400;
    color: #fff;
    padding: 6px 15px;
    background: #093D91;
    border: 0px solid #333;
    text-align: left;
}

table.yui th a
{
	text-decoration: none;
	text-align: left;    	
    padding-right: 20px;
    font-weight: bold;
    white-space:nowrap;
    background: url('bg1.gif') no-repeat right 50%;
    
    color: #444;
}

table.yui thead .headerSortUp , table.yui thead .headerSortDown 
{
    background: url('sprite1.png') repeat-x 0px -100px;
}

table.yui .headerSortUp a 
{	
    background: url('asc1.gif') no-repeat right 50%;
}
table.yui .headerSortDown a 
{    
    background: url('desc1.gif') no-repeat right 50%;
}

table.yui tfoot td
{    
    border-top: 1px solid #333;
    background-color:#fcfcfc;
}

table.yui thead td
{
    vertical-align: middle;
    /*background-color: #0099cc;*/
    border: none;
    color: #fff;
}



table.yui thead .tableHeader
{
    font-size:13px;
    font-weight:bold;
    color: #fff;
     background-color: #0099cc;
}

table.yui thead .filter
{
    text-align:right;
    background-color: #0099cc;
}

table.yui tfoot
{
    background-color:#093d91;
    text-align:center;      
}

table.yui .tablesorterPager {
	padding: 10px 0 10px 0;		
}
table.yui .tablesorterPager span {
	padding: 0 5px 0 5px;
}
table.yui .tablesorterPager input.prev {
	width: auto;
	margin-right: 10px;
}
table.yui .tablesorterPager input.next {
	width: auto;
	margin-left: 10px;
}
table.yui .pagedisplay 	
{
    font-size:10pt;
	width: 40px;
	border: 1px solid #aaa;	
	background-color: #fcfcfc;
	text-align:center;
    vertical-align:top;
}
.tblheaderanchor
{
    background: none;
    font-weight: bold;
}