<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
			
				<add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" /></assemblies></compilation>
				 <customErrors mode="Off" />
				 
	</system.web>
	<system.webServer>
		
	<directoryBrowse enabled="false" showFlags="None" />
        <security>
            <authentication>
                <basicAuthentication enabled="false" />
                <windowsAuthentication enabled="false" />
                <anonymousAuthentication enabled="true" userName="" />
            </authentication>
        </security>
		<defaultDocument>
			<files>
                <clear />
               
                <add value="default.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
			</files>
		</defaultDocument>
        <tracing>
            <traceFailedRequests>
                <add path="*.aspx">
                    <traceAreas>
                        <add provider="ASP" verbosity="Verbose" />
                        <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
                        <add provider="ISAPI Extension" verbosity="Verbose" />
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions statusCodes="503" />
                </add>
            </traceFailedRequests>
        </tracing>
	</system.webServer>
</configuration>
